ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ConnectionStrings__AddressDbConnectionString=Host=address-db;Port=5432;Database=address_db;Username=address_service;Password=address_service_password
