ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
JwtSettings__Key=replace_with_strong_jwt_key
JwtSettings__Issuer=https://auth.myapp.dev
JwtSettings__Audience=https://api.myapp.dev
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/firebase-auth.json
BUCKET_NAME=your-firebase-storage-bucket
