ASPNETCORE_ENVIRONMENT=Development

# Compose ports
API_GATEWAY_HTTP_PORT=8080
AUTH_SERVICE_HOST_PORT=8081
AUTH_SERVICE_CONTAINER_PORT=8080
AUTH_DB_PORT=5433
USER_SERVICE_HOST_PORT=8082
USER_SERVICE_CONTAINER_PORT=8080
USER_DB_PORT=5432
FILE_SERVICE_HOST_PORT=8087
FILE_SERVICE_CONTAINER_PORT=8080
NOTIFICATION_SERVICE_HOST_PORT=8083
NOTIFICATION_SERVICE_CONTAINER_PORT=8080
NOTIFICATION_DB_PORT=5434
DELIVERY_SERVICE_HOST_PORT=8084
DELIVERY_SERVICE_CONTAINER_PORT=8080
DELIVERY_DB_PORT=5435
DELIVERY_REDIS_PORT=6379
CATALOG_SERVICE_HOST_PORT=8085
CATALOG_SERVICE_CONTAINER_PORT=8080
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
ORDER_SERVICE_HOST_PORT=8086
ORDER_SERVICE_CONTAINER_PORT=8080
ORDER_DB_PORT=5436
ORDER_REDIS_PORT=6380
