ASPNETCORE_ENVIRONMENT=Development

# Compose ports
API_GATEWAY_HTTP_PORT=8080
AUTH_SERVICE_HOST_PORT=8081
AUTH_SERVICE_CONTAINER_PORT=8080
AUTH_DB_PORT=5433
USER_SERVICE_HOST_PORT=8082
USER_SERVICE_CONTAINER_PORT=8080
USER_DB_PORT=5432
FILE_SERVICE_HOST_PORT=8087
FILE_SERVICE_CONTAINER_PORT=8080
NOTIFICATION_SERVICE_HOST_PORT=8083
NOTIFICATION_SERVICE_CONTAINER_PORT=8080
NOTIFICATION_DB_PORT=5434
DELIVERY_SERVICE_HOST_PORT=8084
DELIVERY_SERVICE_CONTAINER_PORT=8080
DELIVERY_DB_PORT=5435
DELIVERY_REDIS_PORT=6379
CATALOG_SERVICE_HOST_PORT=8085
CATALOG_SERVICE_CONTAINER_PORT=8080
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
ORDER_SERVICE_HOST_PORT=8086
ORDER_SERVICE_CONTAINER_PORT=8080
ORDER_DB_PORT=5436
ORDER_REDIS_PORT=6380
CART_TTL_SECONDS=604800

# Internal service URLs for Order Service
USER_SERVICE_URL=http://user-service:8080/api
CATALOG_SERVICE_URL=http://catalog-service:8080/api/catalog
DELIVERY_SERVICE_URL=http://delivery-service:8080/api/deliveries

# VNPay
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=YOUR_VNPAY_TMN_CODE
VNPAY_HASH_SECRET=YOUR_VNPAY_HASH_SECRET
VNPAY_RETURN_URL=http://localhost:8086/api/orders/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:8086/api/orders/payments/vnpay/ipn
VNPAY_VERSION=2.1.0
VNPAY_COMMAND=pay
VNPAY_CURRENCY=VND
VNPAY_LOCALE=vn
VNPAY_ORDER_TYPE=180000
VNPAY_EXPIRE_MINUTES=15

# Report Service
REPORT_SERVICE_HOST_PORT=8088
REPORT_SERVICE_CONTAINER_PORT=8080
REPORT_DB_PORT=5437

# Wallet Service
WALLET_SERVICE_HOST_PORT=8089
WALLET_SERVICE_CONTAINER_PORT=8080
WALLET_DB_PORT=5438
WALLET_VNPAY_RETURN_URL=http://localhost:8089/api/wallets/topup/vnpay/return
WALLET_VNPAY_IPN_URL=http://localhost:8089/api/wallets/topup/vnpay/ipn
