ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ConnectionStrings__UserDbConnectionString=Host=user-db;Port=5432;Database=user_db;Username=user_service;Password=user_service_password
RabbitMq__HostName=rabbitmq
RabbitMq__Port=5672
RabbitMq__UserName=appuser
RabbitMq__Password=app_password
RabbitMq__VirtualHost=/
JwtSettings__Key=replace_with_strong_jwt_key
JwtSettings__Issuer=https://auth.myapp.dev
JwtSettings__Audience=https://api.myapp.dev
