ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ConnectionStrings__AuthenticationDbConnectionString=Host=authentication-db;Port=5432;Database=authentication_db;Username=authentication;Password=authentication_password
RabbitMq__HostName=rabbitmq
RabbitMq__Port=5672
RabbitMq__UserName=appuser
RabbitMq__Password=app_password
RabbitMq__VirtualHost=/
JwtSettings__Key=replace_with_strong_jwt_key
JwtSettings__Issuer=https://auth.myapp.dev
JwtSettings__Audience=https://api.myapp.dev
JwtSettings__AccessTokenMinutes=2
JwtSettings__RefreshTokenMinutes=10080
