ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ConnectionStrings__NotificationDbConnectionString=Host=notification-db;Port=5432;Database=notification_db;Username=notification_service;Password=notification_password
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/firebase-auth.json
JwtSettings__Key=change-me-change-me-change-me-change-me
JwtSettings__Issuer=https://auth.myapp.dev
JwtSettings__Audience=https://api.myapp.dev
UserService__BaseUrl=http://user-service:8080
RabbitMq__HostName=rabbitmq
RabbitMq__Port=5672
RabbitMq__UserName=appuser
RabbitMq__Password=app_password
RabbitMq__VirtualHost=/
SmtpSettings__Host=smtp.gmail.com
SmtpSettings__Port=587
SmtpSettings__EnableSsl=true
SmtpSettings__UserName=your_user_name
SmtpSettings__Password=your_password
SmtpSettings__FromEmail=your_email
SmtpSettings__FromName=Food Delivery - Email Verification
